@inherits LayoutComponentBase
@using PortfolioBlazor.Components.MyComponents

<MudThemeProvider Theme="MyCustomTheme" />
<MudLayout>
    <MudAppBar Elevation="0" Style="@($"background:{MyCustomTheme.Palette.Primary};")">
        <MudSpacer />
        <NavMenu />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" Edge="Edge.End" Href="/login" />
    </MudAppBar>
    <MudMainContent>
        <CascadingValue Value="@MyCustomTheme">
            <div class="body-container">
                @Body
            </div>
        </CascadingValue>
    </MudMainContent>
</MudLayout>

@code {
    MudTheme MyCustomTheme = new MudTheme()
        {
            Palette = new PaletteLight()
            {
                Primary = "#352F44",
                Secondary = "#5C5470",
                Tertiary = "#B9B4C7",
                Warning = "#FAF0E6"
            },
        };
}